.SideShowDiv{
    background-color: white;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.14);
    margin: auto;
    width: 80%;
    height: auto;
    margin-top: 10vh;
    .SideShowHeader{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1vw;
        font-size: 1.5rem;
        .imgMachine{
            width: 20%;
        }
    }
    .tableMachine{
       
        .infosMachine{
            padding: 1vw;
            display: flex;
            gap: 2rem;
            justify-content: center;
        }
    }
    .hidden{
        display: none;
    }
    .visible{
        display: block;
    }

}